
/* app css stylesheet */


.title {
  width: 100%;
  alignment: center;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.card {
  width: 1.63vw;
  height: 3vw;
}

.symbol {
  width: 3vw;
  height: 3vw;
}

.btnShuffle {

  font-size: 12px;
  margin: 1vw;
  background: #b3d4fc;
  font-weight: bold;

  letter-spacing: 2px;
  padding: 13px 17px;
  border: none;
  border-radius: 10px;

}

.btnReset {

  font-size: 12px;
  margin: 1vw;
  background: crimson;
  font-weight: bold;

  letter-spacing: 2px;
  padding: 13px 17px;
  border: none;
  border-radius: 10px;

}